.DS_Store
.idea
./dist/

# web
./FaceRWeb/.DS_Store
./FaceRWeb/node_modules/
./FaceRWeb/npm-debug.log*
./FaceRWeb/yarn-debug.log*
./FaceRWeb/yarn-error.log*

# Editor directories and files
./FaceRWeb/.idea
./FaceRWeb/.vscode
./FaceRWeb/*.suo
./FaceRWeb/*.ntvs*
./FaceRWeb/*.njsproj
./FaceRWeb/*.sln

#service
./FaceRService/venv/
./FaceRService/.idea/
